/database.sqlite3
/level/migrations/
/levelrecord/migrations/
/region/migrations/
/listchange/migrations/
/player/migrations/
/level/_pycache_/
/levelrecord/_pycache_/
/region/_pycache_/
/listchange/_pycache_/
/player/_pycache_/
/themoroccandemonlist/_pycache_/