/database.sqlite3
level/migrations/
levelrecord/migrations/
region/migrations/
listchange/migrations/
player/migrations/
level/__pycache__/
levelrecord/__pycache__/
region/__pycache__/
listchange/__pycache__/
player/__pycache__/
themoroccandemonlist/__pycache__/
/.env